.landing-img {
    position: absolute;
    width: 549px;
    height: 605px;
    left: 121.07px;
    top: 154.36px;
}

.landing-text {
    position: absolute;
    width: 522px;
    height: 71px;
    left: 129px;
    top: 456px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}